---
layout: default
title: Gail Wright
skills:
  - title: Skill 1
    description: My Experience
  - title: Skill 2
    description: Education
  - title: Skill 3
    description: Other

---

        </head>

    <section class="featured" id="about-me">
      <!--This is the about me section and I will tell you all about what I do -->
      <div class="centered white-boxed">
      <h2> About Me </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </section>

    <section class="grid skills" id="skills">
      <!-- This is my skills section -->
      <h2 class="centered col-12">My Skills</h2>

      {% for skill in page.skills %}

        <div class="col-4_sm-12 box">
          <div class="box-feature">
            <h3>{{skill.title}}</h3>
            <!-- i class is for my leaf icons -->
            <i class="fa fa-leaf" aria-hidden="true"></i>
          <p>{{skill.description}}</p>
          </div>
        </div>
        {% endfor %}
    </section>

    {% include map.html %}

    <section class="experience" id="experience">
      <!--My experience will go herre   -->
      <h2>My Experience</h2>
      <div class="grid">
        <div class="col-4">
          <!-- H3 and h4 are seperated because we want the to be together in the same column -->
          <h3>Company Name</h3>
          <h4>Role</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="grid">
        <div class="col-4">
          <!-- H3 and h4 are seperated because we want the to be together in the same column -->
          <h3>Company Name</h3>
          <h4>Role</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="grid">
        <div class="col-4">
          <!-- H3 and h4 are seperated because we want the to be together in the same column -->
          <h3>Company Name</h3>
          <h4>Role</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
